.HomeComp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.HomeComp .info .text{
    width: 400px;
}

.HomeComp img{
    width: 500px;
    animation: imageAnim 1.5s ease-in-out infinite;
   
    
}

.HomeComp h1 {
    color: #363249;
}

.HomeComp h4 {
    color: #878787;
}

@keyframes imageAnim {
    0%   {
        margin-top: 0px;
    }
    50% {
        margin-top: 20px;
    }
    100% {
        margin-top: opx;
    }
}

