.InputWithButton {
    border: 1px solid rgba(0, 0, 0, 0.147);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.112);
    width: 450px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 15px;
    border-radius: 30px;
}

.InputWithButton input {
    border: none;
    width: 100%;
    padding: 5px;
}

.InputWithButton button {
    border: none;
    border-radius: 30px;
    background-color: #4287f4;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 15px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: right;
}


